<% title("#{@user.username}/#{@repo.name}") %>
<div class='jumbotron'>
  <div class='container'>
    <div class='repoinfo'>
      <div class='row'>
        <div class='span9 offset1'>
          <h2><%= @user.username %>/<%= @repo.name %></h2>
          <h5><%= @repo.description %></h5>
          <%= @repo.url %><br />
          Rating: <%= @repo.avg_rating %><br />
          First Commit Date<br />
          Last Commit Date<br />
          Number of Commits<br />
          Pull Requests(Open/Closed)<br />
          Issues(Open/Closed)<br />
          Stars<br />
          Forks<br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="span8 offset2">
      <% if signed_in? %>
        <h3>Rate this Repo</h3>
        <%= render partial: 'reviews/edit',
                   locals: {
                     new_review: @new_review,
                     old_review: @old_review } %>
      <% else %>
        <h3><%= link_to "Sign in via Github", signin_path %> to Rate this Repo!</h3>
      <% end %>

      <%= paginate @reviews %>
      <%= render partial: 'reviews/show', collection: @reviews, as: :review %>
      <%= paginate @reviews %>

    </div>
  </div>
</div>
