<div class="comment" id="comment-<%= comment.id %>">
  <hr />
  <%= link_to "x", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure?", :disable_with => "x", :class => 'close' %>
  <h4><%= comment.user.username %></h4>
  <small><%= comment.updated_at %></small>
  <p><%= comment.body %></p>
</div>
